<div class="game">
  <h1>Игра</h1>
  <div>Всего слов: {{ wordsList.length }}</div>
  <div>Продолжительность: {{ settings.gameDuration }} секунд</div>
  <div>Введите перевод слова с языка {{ settings.fromLang }} на язык {{ settings.toLang }}</div>
  <div *ngIf="remaining !== null">
    <div class="game__timer">Осталось: {{ remaining }} секунд</div>
    <div class="game__rightWrong">
      <div>Правильно: {{ right }}</div><div>Wrong: {{ wrong }}</div>
    </div>
    <div *ngIf="curEntry">{{ curEntry.origin }}</div>
    <input placeholder="Перевод" (keydown)="handleTranslationEnter($event)" ([ngModel])="enteredTranslation" />
  </div>
  <button *ngIf="remaining !== null" (click)="stop()">Остановить</button>
  <button *ngIf="remaining === null" (click)="start()">Начать</button>
</div>
